.productDetailsDiv {
    width: 30%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
}

.productDetailsImg {
    display: block;
    margin: auto;
    width: 100%;
}

.productDetailsPrice {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.productDetailsPrice>p:nth-child(1) {
    font-weight: bold;
    margin-right: 20px;
}

.productDetailsPrice>p:nth-child(2) {
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
}

.add_cart {
    padding: 8px 15px;
    border: none;
    background-color: teal;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add_cart:hover{
    background-color: rgb(1, 85, 85);
    color: white;
}
